@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Global scrollbar hide */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}